<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Quote Form</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Star War Movies</h1>
        <div class="row">
            <form action="/quote" method="POST">
                <label for="quote" class="form-label">Quote</label>
                <input type="text" name="quote" class="form-control">
                <label for="">Name</label>
                <input type="text" name="name" class="form-control">
                <button class="btn-primary">Save</button>
            </form>
        </div>
    </div>
</body>
</html>